.contact__form {
  @apply flex flex-col gap-4  mt-4 text-2xl text-white w-xxl lg:w-xxxl;
  & input[type="text"],
  input[type="email"] {
    background: transparent;
    padding: 0.5rem;
    outline: 0;
    caret-color: #ea0000;
    border-bottom: 0.2rem solid #ea0000;

    @media only screen and (min-width: 320px) {
      width: 100%;
    }
    @media only screen and (min-width: 1024px) {
      width: 80%;
    }
  }
  textarea {
    height: 25vh;
    outline: 0;
    color: seagreen;
    resize: none;
    border: 0.2rem solid #ea0000;
    padding: 0.5rem;

    border-radius: 0.2rem;
    background: transparent;
    @media only screen and (min-width: 1024px) {
      width: 80%;
    }
  }
}
